---
layout: default
bodyClass: "page-services"
---

{% include title-text-random_image.html %}

<div class="container pt-6 pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
            <p>{{ service.intro | markdownify | strip_html }}</p>
            <p class="text-right"><a href="{{ service.url | relative_url }}">Lees meer...</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
